@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class ="display-4">........</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<!DOCTYPE html>
<html lang="en">


<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('https://i.hizliresim.com/50sp2xc.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-3 bread">ARAÇ FİYATLAR LİSTESİ</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="car-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th class="bg-primary heading">1-5 Gün Fiyatı</th>
                                <th class="bg-primary heading">5-15 Gün Fiyatı</th>
                                <th class="bg-primary heading">15-30 Gün Fiyatı</th>
                                <th class="bg-primary heading">+30 Gün Fiyatı</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr class="">
                                    <td class="car-image">
                                        <div class="img"  style="background-image: url(https://images6.alphacoders.com/950/thumb-1920-950806.jpg);"></div>
                                    <img width="250" height="100" src="https://cdn.motor1.com/images/mgl/E61G6e/s3/2023-range-rover-sport-render.webp" />
                                        <br/>
                                        <a class="btn btn-outline-primary" href="/rentcarweb/HomeCar/GetById/1">Aracın Detayları</a>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small>880</span>
                                            </h3>
                                            <span class="subheading">1-5 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.200</span>
                                            </h3>
                                            <span class="subheading">5-15 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.350</span>
                                            </h3>
                                            <span class="subheading">15-30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.450</span>
                                            </h3>
                                            <span class="subheading">+30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="car-image">
                                        <div class="img"  style="background-image: url(https://i.hizliresim.com/95lq9zk.jpg);"></div>
                                    <img width="250" height="100" src="https://cdn.motor1.com/images/mgl/E61G6e/s3/2023-range-rover-sport-render.webp" />
                                        <br/>
                                        <a class="btn btn-outline-primary" href="/rentcarweb/HomeCar/GetById/13">Aracın Detayları</a>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small>680</span>
                                            </h3>
                                            <span class="subheading">1-5 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 900</span>
                                            </h3>
                                            <span class="subheading">5-15 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.100</span>
                                            </h3>
                                            <span class="subheading">15-30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.250</span>
                                            </h3>
                                            <span class="subheading">+30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="car-image">
                                        <div class="img"  style="background-image: url(https://wallpapercave.com/wp/wp2676980.jpg);"></div>
                                    <img width="250" height="100" src="https://cdn.motor1.com/images/mgl/E61G6e/s3/2023-range-rover-sport-render.webp" />
                                        <br/>
                                        <a class="btn btn-outline-primary" href="/rentcarweb/HomeCar/GetById/14">Aracın Detayları</a>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small>800</span>
                                            </h3>
                                            <span class="subheading">1-5 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 900</span>
                                            </h3>
                                            <span class="subheading">5-15 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.000</span>
                                            </h3>
                                            <span class="subheading">15-30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.100</span>
                                            </h3>
                                            <span class="subheading">+30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="car-image">
                                        <div class="img"  style="background-image: url(https://images8.alphacoders.com/929/thumb-1920-929301.jpg);"></div>
                                    <img width="250" height="100" src="https://cdn.motor1.com/images/mgl/E61G6e/s3/2023-range-rover-sport-render.webp" />
                                        <br/>
                                        <a class="btn btn-outline-primary" href="/rentcarweb/HomeCar/GetById/32">Aracın Detayları</a>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small>750</span>
                                            </h3>
                                            <span class="subheading">1-5 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 850</span>
                                            </h3>
                                            <span class="subheading">5-15 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 950</span>
                                            </h3>
                                            <span class="subheading">15-30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.050</span>
                                            </h3>
                                            <span class="subheading">+30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="car-image">
                                        <div class="img"  style="background-image: url(https://wallpapercave.com/wp/aXaHDYr.jpg);"></div>
                                    <img width="250" height="100" src="https://cdn.motor1.com/images/mgl/E61G6e/s3/2023-range-rover-sport-render.webp" />
                                        <br/>
                                        <a class="btn btn-outline-primary" href="/rentcarweb/HomeCar/GetById/34">Aracın Detayları</a>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small>700</span>
                                            </h3>
                                            <span class="subheading">1-5 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 800</span>
                                            </h3>
                                            <span class="subheading">5-15 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 900</span>
                                            </h3>
                                            <span class="subheading">15-30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.000</span>
                                            </h3>
                                            <span class="subheading">+30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="car-image">
                                        <div class="img"  style="background-image: url(https://i.hizliresim.com/7ulla4s.jpg);"></div>
                                    <img width="250" height="100" src="https://cdn.motor1.com/images/mgl/E61G6e/s3/2023-range-rover-sport-render.webp" />
                                        <br/>
                                        <a class="btn btn-outline-primary" href="/rentcarweb/HomeCar/GetById/35">Aracın Detayları</a>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small>950</span>
                                            </h3>
                                            <span class="subheading">1-5 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.050</span>
                                            </h3>
                                            <span class="subheading">5-15 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.100</span>
                                            </h3>
                                            <span class="subheading">15-30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.200</span>
                                            </h3>
                                            <span class="subheading">+30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="car-image">
                                        <div class="img"  style="background-image: url(https://images6.alphacoders.com/468/468185.jpg);"></div>
                                    <img width="250" height="100" src="https://cdn.motor1.com/images/mgl/E61G6e/s3/2023-range-rover-sport-render.webp" />
                                        <br/>
                                        <a class="btn btn-outline-primary" href="/rentcarweb/HomeCar/GetById/36">Aracın Detayları</a>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small>900</span>
                                            </h3>
                                            <span class="subheading">1-5 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1000</span>
                                            </h3>
                                            <span class="subheading">5-15 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.100</span>
                                            </h3>
                                            <span class="subheading">15-30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.200</span>
                                            </h3>
                                            <span class="subheading">+30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="car-image">
                                        <div class="img"  style="background-image: url(https://images.unsplash.com/photo-1611651336487-802fe164d3e5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1887&amp;q=80);"></div>
                                    <img width="250" height="100" src="https://cdn.motor1.com/images/mgl/E61G6e/s3/2023-range-rover-sport-render.webp" />
                                        <br/>
                                        <a class="btn btn-outline-primary" href="/rentcarweb/HomeCar/GetById/42">Aracın Detayları</a>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small>900</span>
                                            </h3>
                                            <span class="subheading">1-5 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.200</span>
                                            </h3>
                                            <span class="subheading">5-15 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.500</span>
                                            </h3>
                                            <span class="subheading">15-30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.700</span>
                                            </h3>
                                            <span class="subheading">+30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td class="car-image">
                                        <div class="img"  style="background-image: url(https://wallpapercave.com/wp/wp2465024.jpg);"></div>
                                    <img width="250" height="100" src="https://cdn.motor1.com/images/mgl/E61G6e/s3/2023-range-rover-sport-render.webp" />
                                        <br/>
                                        <a class="btn btn-outline-primary" href="/rentcarweb/HomeCar/GetById/46">Aracın Detayları</a>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small>1.500</span>
                                            </h3>
                                            <span class="subheading">1-5 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.600</span>
                                            </h3>
                                            <span class="subheading">5-15 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>

                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.700</span>
                                            </h3>
                                            <span class="subheading">15-30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p class="btn-custom"><a href="/rentcarweb/Home/List">Rezervasyon Yap</a></p>
                                        <div class="price-rate">
                                            <h3>
                                                <span class="num">TL<small class="currency"></small> 1.800</span>
                                            </h3>
                                            <span class="subheading">+30 Günlük Araç Kiralama Fiyatı</span>
                                        </div>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
<footer class="ftco-footer ftco-bg-dark ftco-section">
   
</footer>

</html>