@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>ARAÇLARIMIZ</h1>
<p>Mercedes</p>
<img width="250" height="100" src="https://www.mercedes-benz.com.tr/passengercars/content-pool/marketing-pool/product-page-stages/mercedes-amg-g-class-w463-stage/_jcr_content/par/stageelement.MQ6.0.stage.20191017140153.jpeg" />
<p>Toyota</p>
<img width="250" height="100" src="https://scene7.toyota.eu/is/image/toyotaeurope/CorollaHB-1_1920x1080:Large-Landscape?ts=1671551700931" />
<p>Range Rover</p>
<img width="250" height="100" src="https://cdn.motor1.com/images/mgl/E61G6e/s3/2023-range-rover-sport-render.webp" />
